<h1>Toys#index</h1>
<p>Find me in app/views/toys/index.html.erb</p>

<ul>
  <% @toys.each do |toy| %>
    <li><%= link_to toy.name, toy %></li>
  <% end %>
</ul>

<%= link_to 'New Toy', new_toy_path %>
