<h1>Liste des jouets</h1>
<%= link_to "index des boites", boxes_path, class: "btn btn-success" %>
<div class=container >
  <ul>
    <% @toys.each do |toy| %>
      <%= link_to "Jouet numéro #{toy.id}, photo: #{toy.photo}", toy_path(toy) %>
    <% end %>
  </ul>
</div>
