<h1>Toys#new</h1>
<p>Find me in app/views/toys/new.html.erb</p>

simple form to create a new toy, with all field, and a submit button to create the toy, and a link to go back to the index page.
<div class=container>
  <%= form_with model: @toy, local: true do |form| %>
    <div class="form-group mb-3">
      <%= form.label :barcode, class: "form-label" %>
      <%= form.text_field :barcode, class: "form-control", placeholder: "Entrer un nom (facultatif)" %>
      <%=  %>

    </div>
    <% end %>
</div>
