<section style="margin: 60px auto; max-width: 800px; padding: 0 20px; text-align: center;">

  <!-- PHOTO -->
  <%= image_tag "cyrille.jpg", alt: "Cyrille Pierre", style:"width: 250px; height: 250px; object-fit: cover; border-radius: 50%; margin-bottom: 25px;" %>
  <!-- NOM -->
  <h1 style="font-size: 2rem; font-weight: bold; margin-bottom: 20px;">
    Cyrille Pierre
  </h1>

  <h2 style="font-size: 1.5rem; font-weight: 600; margin-bottom: 20px; color: #444;">
    Parcours
  </h2>

  <!-- TEXTE -->
  <p style="font-size: 1.2rem; line-height: 1.8; max-width: 700px; margin: 0 auto;">
    Directeur des opérations.
  </p>

</section>
