<section style="margin: 60px auto; max-width: 800px; padding: 0 20px; text-align: center;">

  <%= image_tag "loic.jpg", alt: "Loic Laplagne", style:"width: 250px; height: 250px; object-fit: cover; border-radius: 50%; margin-bottom: 25px;" %>

  <h1 style="font-size: 2rem; font-weight: bold; margin-bottom: 20px;">
    Loïc Laplagne
  </h1>

  <h2 style="font-size: 1.5rem; font-weight: 600; margin-bottom: 20px; color: #444;">
    Parcours
  </h2>

  <p style="font-size: 1.2rem; line-height: 1.8; max-width: 700px; margin: 0 auto;">
    Après une formation en sociologie et un master RH à l’ESSEC, j'ai débuté par de la gestion du personnel puis de la GEPEC chez Orange et Axa. J’ai ensuite créé trois entreprises, dont une spécialisée dans le Design. Plus tard, j’ai évolué vers l’ingénierie financière. Cette expérience m’a ouvert les portes de l’écosystème Tech.
  </p>

</section>
