<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 70vh;">
  <p>Aie, quelque chose ne s'est pas passé comme prévu...</p>
  <%= image_tag "teddy_bear404.png", style: "max-width: 300px;" %>
</div>
