<p>Bonjour <%= @resource.email %>,</p>

<p>Une demande de réinitialisation de mot de passe a été effectuée pour votre compte.</p>

<p>Cliquez sur le lien ci-dessous pour choisir un nouveau mot de passe :</p>

<p><%= link_to 'Réinitialiser mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, ignorez simplement cet e-mail. Votre mot de passe restera inchangé.</p>

<p>À bientôt,<br>L'équipe RE-PLAY</p>
